{% extends 'base2.html' %}
{% load  static %}
{% block title %}GOOD{% endblock  %}

{% block content %}
<div class="alert alert-primary" role="alert">
    
    <a href="{% url  'index'  %}" class="alert-link"><strong>Dashboard</strong></a>
</div>

    <table  class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Jours de travail</th>
                <th>Demi-jour mercredi</th>
                <th>Nombre de jours de travail</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
                <tr>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.jours_de_travail }}</td>
                    <td>{{ employe.demi_jour_mercredi }}</td>
                    <td>{{ employe.nombre_jours_de_travail }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

