{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}base{% endblock  %}</title>



{%  block  thecss %}
<link rel="stylesheet" href="{%  static 'Videos/comment.css'  %}">
{%  endblock %}  

<!--offline  bootstrap -->
<link rel="stylesheet" href="{%  static 'bootstrap.min.css'  %}">
</head>
<body>

    


{% block content %}
{% endblock content %}
</body>
<!-- offline   bootstrap   and  jquery  -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script   type="text/javascript" href="{%  static 'jquery-3.6.0.js'  %}"></script>
<script  type="text/javascript" href="{%  static 'bootstrap.min.js'  %}"></script>
</html>