<html>
<head>
  <title>Employes</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Jours</th>
        <th>Jours ouvrables</th>
      </tr>
    </thead>
    <tbody>
      {% for employe in employes %}
        <tr>
          <td>{{ employe.nom }}</td>
          <td>{{ employe.prenom }}</td>
          <td>{{ employe.jours }}</td>
          <td>
            {% for jour in jours %}
              {% if jour.jour_ouvable %}
                {{ jour.jour }} (travaillé)
              {% else %}
                {{ jour.jour }} (repos)
              {% endif %}
              <br />
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
